a.back-link {
  color: $primary-font;
  .fa-arrow-left {
    color: $secondary-color;
  }
  &:hover {
    color: $secondary-color;
  }
}

form {
  select,
  option,
  input,
  textarea {
    border: none;
    color: $default-form-text;
    &:focus {
      color: $default-form-text;
    }
  }
  label {
  }
  input,
  textarea {
    &::placeholder {
      color: $default-data;
    }
    &:focus {
      // border: 1px solid $borders;
      // &:not(:read-only):not(:disabled)::placeholder {
      //   color: transparent;
      // }
    }
    &:disabled,
    &:read-only {
      background-color: $bg-color-form-disabled;
      border: 1px dotted $borders;
    }
    &::before {
      content: ' ';
    }
    &:placeholder-shown {
      &::before {
        color: $placeholder-text;
      }
    }
  }
  .btn {
    font-size: 1.6rem;
  }
  .btn:focus,
  .btn.focus {
    box-shadow: none;
  }
  .addmore-btn {
    color: $secondary-font;
    svg {
      margin-right: 0.6rem;
    }
    &:hover {
      color: $primary-color;
    }
  }
  .input-group-append {
    background: none;
    svg {
      color: $secondary-font;
    }
  }
}

.custom-active-wrapper {
  label:after {
    content: '\A';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $custom-data;
    display: inline-block;
    margin: 0 10px;
  }
  input,
  textarea {
    &::placeholder {
      color: $custom-data;
    }
  }
  .form-control:focus {
    box-shadow: 0 0 0 0.1rem transparentize($custom-data, 0.5);
    border-color: $custom-data;
  }
}

.input-array {
  button.pop {
    background-color: $bg-color-form;
    color: $primary-font;
  }

  button.push {
    background-color: transparent;
    color: $secondary-font;
    font-size: 1.6rem;
    .fa-plus {
      margin-right: 0.5rem;
    }
  }
}
.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px) !important;
  font-size: 1.4rem !important;
  width: 33%;
}
.form-small {
  label {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
.sources {
  margin-top: 8px;
}
.nodding-sheep {
  #left_eye,
  #right_eye,
  #face,
  #nose {
    transform-origin: center;
    animation: sheep-nod 0.5s ease-in infinite;
  }
}

@keyframes sheep-nod {
  50% {
    transform: translateY(3%);
  }
}
