@use "sass:color";
@use "dependencies";

// baseline typography
html {
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
  @include dependencies.breakpoint(sm) {
    font-size: 8px;
  }
}
body {
  font-family: dependencies.$sans-reg;
  font-size: 1.6rem;
  color: dependencies.$primary-font;
}
a {
  color: dependencies.$primary-color;
  &:hover {
    text-decoration: none;
    color: color.adjust(dependencies.$secondary-color, $lightness: -10%);
  }
  p & {
    text-decoration: none;
  }
}
ul,
ol {
  &.no-list-style {
    list-style-type: none;
    padding-left: 0px;
    li {
      margin: 4px 0px;
      font-family: dependencies.$sans-reg;
      color: dependencies.$primary-font;
    }
  }
  &.two-col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  font-family: dependencies.$sans-reg;
  li {
    font-size: 1.6rem;
  }
}

p,
span,
div {
  font-family: dependencies.$sans-reg;
  color: dependencies.$primary-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: dependencies.$primary-font;
  font-family: dependencies.$sans-bold;
  // margin: 1.6rem 0rem 1rem 0rem;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.4rem;
}
label {
  font-family: dependencies.$sans-bold;
  font-size: 1.8rem;
}
select {
  padding-left: 50px;
}
.form-group {
  margin-bottom: 3.6rem;
}
.form-control {
  font-size: 1.6rem;
  height: 5rem;
}
.input-group {
  margin-bottom: 6px;
}
h3 {
  margin-bottom: 8px;
}
i {
  font-size: 1.6rem;
}
p.lede {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0;
  color: dependencies.$secondary-font;
}
