// baseline typography
html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-size:10px;
    @include breakpoint(sm) {
      font-size:8px;
    }
}
body {
    font-family: $sans-reg;
    font-size:1.6rem;
}
a {
  color:$a-link;
  &:hover {
    text-decoration: none;
  }
  p & {
    font-family:$sans-bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
ul, ol {
  &.no-list-style {
    list-style-type: none;
    padding-left:0px;
    li {
      margin:4px 0px;
      font-family: $sans-reg;
      color:$primary-font;
    }
  }
  &.two-col {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  }
  font-family: $sans-reg;
  li {
    font-size:1.6rem;
    &.person-label {
      color:$secondary-font;
    }
  }
}

p, span, div {
  font-family: $sans-reg;
  color:$primary-font;
}
p {
  margin-bottom:36px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-font;
    font-family:$sans-bold;
    // margin: 1.6rem 0rem 1rem 0rem;
}
h1 {
  font-size:3.6rem;
}
.discreet {
  color:$tertiary-font;
  font-size:1.4rem;
}
label {
  font-family: $sans-bold;
  font-size:1.8rem;
  font-weight:600;
}
select {
  padding-left:50px;
}
.form-group {
  margin-bottom:3.6rem;
}
.form-control {
  font-size:1.6rem;
  height:5rem;
}
.input-group {
  margin-bottom:6px;
}
h3 {
  margin-bottom:8px;
}
i {
  font-size:1.6rem;
}
